#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Sun Jun 07 01:17:49 PET 2026
allowBypassInvulnerability=true
